
@{
    ViewBag.Title = "Home";
}


        <article>
            <p>Here, we are building the body.... of this page</p>
        </article>

@section nutrition 
    {
        <article>
            <p>This article is about nutririon</p>
        </article>
    }

        <article>
            <p>Why you so cray cray about building dem bodies?!?!?!</p>
        </article>

@section gainz{
    <article>
        <p>All About dem gainz!</p>
    </article>
}


