<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" rel="stylesheet" href="~/Styles/main.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="bodyDiv">
        @RenderBody()
    </div>
</body>
</html>
